*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
}
/* :root{
    --c-b-700:#3366FF;
    --c-b-800:#1A34B8;
} */
.imagens-carousel{
    max-width: 100%;
    object-fit: cover;
    height: 300px;
}
.h500{
    height: 310px;
    margin-bottom: 10px;
}
nav {
    min-height: 10%;
    background-color: #FFF;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 2px -6px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 2px -6px 15px 5px rgba(0, 0, 0, 0);
    z-index: 1;
}
li > a:hover{
    color: #000000 !important;
}
main {
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #EEEEEE;
}
.s1{
    background: #EEEEEE;
}
.s2{
    background: rgba(193, 198, 222,0.2);
}
.content{
    width: 90%;
}
footer {
    background: #00457C;
    font: #FFF;
}
.h1-centralizado{
    text-align: center;
    padding: 100px 0;
}
.h2-destaque{
    color: #00457C;
}
.bg-container-figure{
    background-color: #DFF1FF;
}
.form-flutuante{
    position: absolute;
    width: auto;
    height: 250px;
    padding: 10px;
    border-radius: 5px;
    top:10px;
    right: 10px;
    visibility: hidden;
    & a{
        margin-top: 30px;
    }
}
.visivel{
    visibility: visible;
}

.container-card {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px 0px;
}

.simples {
    background: rgba(193, 198, 222,0.2);
}

.grayy {
    background: #EEEEEE;
}

.card {
    max-width: 253px;
    max-height: 425px;
    width: calc(33% - 20px);
    background: #FFF;
    padding: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.card:hover {
    transform: scale(105%);
}

.card .price-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-section .price-area {
    width: 200px;
    height: 120px;
    border-radius: 10px;
}

.price-section .price-area .inner-area img {
    width: 200px;
    height: 120px;
}

/* seção de escrita */
.card .features li {
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

/* botao */
.card .btn {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.card .btn button {
    width: 75%;
    height: 5%;
    background: #369DF8;
    color: #FFF;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
}

.card .btn button:hover {
    background: #00457C;
    color: #EEEEEE;
}

.card .rib {
    position: relative;
}

.card .ribbon {
    height: 120px;
    width: 220px;
    position: absolute;
    top: -30px;
    left: -30px;
    overflow: hidden;
}

.card .ribbon span {
    width: 130px;
    height: 20px;
    top: 29px;
    left: -30px;
    padding: 2px;
    position: absolute;
    background: #00457C;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    transform: rotate(-45deg);
}

/* media query */
@media only screen and (max-width: 425px) {
    .container-card {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding-bottom: 30px;
    }

    .card {
        width: calc(90% - 10px);
        height: 450px;
    }

    .price-section .price-area {
        width: 170px;
        height: 120px;
        border-radius: 10px;
    }

    .price-section .price-area .inner-area img {
        width: 200px;
        height: 120px;
    }

    .card .btn {
        display: flex;
        margin-top: 0px;
        justify-content: center;
    }

    .card .btn button {
        width: 80%;
        height: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .card {
        width: calc(90% - 10px);
        height: 450px;
    }

    .card .btn {
        display: flex;
        margin-top: 0px;
        justify-content: center;
    }

    .card .btn button {
        width: 80%;
        height: 40px;
    }
}