*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
}
/* :root{
    --c-b-700:#3366FF;
    --c-b-800:#1A34B8;
} */
.imagens-carousel{
    max-width: 100%;
    object-fit: cover;
    height: 300px;
}
.h500{
    height: 310px;
    margin-bottom: 10px;
}